.bordered {
    border: 1px solid silver;
}

.bar {
    fill: dodgerblue;
}

#barchart {
    overflow-y: scroll;
    overflow-x: hidden;
}

#barchartV {
    width: 60%;
    overflow-y: hidden;
    overflow-x: scroll;
}

#asseX {
    height: 40px;
    width: 100%;
}

#rowVer {
    width: 90%;
}

#colVer {
    width: 55px;
}

#linechart {
    width: 90%;
}

#scatterDiv {
    width: 90%;
    height: 540px;
    border: 1px solid silver;
}

#colOrdinamento {
    left: 120px;
}

div.tooltip {
    position: absolute;
    text-align: center;
    width: 60px;
    height: auto;
    padding: 2px;
    font: 12px sans-serif;
    background: skyblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}