.bar { fill: dodgerblue; }

#barchartDiv{
    width: 680px;
    height: 420px;
    border: black 1px;
}

#barchart{
    height: 300px;
    width: 680px;
    overflow-y: scroll;
    overflow-x: hidden;
}

#barchartV{
    height: 350px;
    width: 600px;
    overflow-y: hidden;
    overflow-x: scroll;
}

#piechartDiv{
    height: 130px;
    width: 500px;
}

#linechart{
    height: 200px;
    width: 700px;
}

#linechartDiv{
    height: 340px;
}

div.tooltip {
    position: absolute;
    text-align: center;
    width: 60px;
    height: auto;
    padding: 2px;
    font: 12px sans-serif;
    background: skyblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}