 @import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

html{
 height: 98%;
}

body{
    background: -webkit-linear-gradient(left, #3931af, #00c6ff);
    font-family: 'Source Sans Pro', sans-serif;
    height: 98%;
}

h2{
    color: #007bff;
}

#mycontainer{
    min-height: 98%;
    width: 90%;
    margin-top: 5px;
    border-radius: 25px;
}

.mymarginleft {
    margin-left: 150px;
}

#arrow{
    width: 20px;
    height: 20px;
}

#loginResult{
    background-color: #FFFFFF;
    text-align: center;
    position: absolute;
    border-radius: 25px;
    top: 25%; left: 35%;
    padding: 10pt;
    width: 25%; height: 15%;
}

#message{
    margin-top: 10px;
}

#loginForm{
    background-color: #FFFFFF;
    text-align: center;
    position: absolute;
    border-radius: 25px;
    top: 25%; left: 35%;
    padding: 10px;
    width: 25%;
}

#questionText{
    width: 300px;
}

.formLabel{
    display: inline-block;
    margin: 3px;
}

.formTextArea{
    margin-bottom: 10px;
}

.formButton{
    display: inline-block;
    color: white;
    background-color: #007bff;
    padding: 10px 32px;
    border-radius: 12px;
    font-size: 13pt;
    margin-top: 10px;
}