<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel='stylesheet' href='../../static/ai4fitapp/style/graphs.css'>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        <link rel='stylesheet' href='../../static/ai4fitapp/style/myStyle.css'>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

        <script type="text/javascript" src="../../static/ai4fitapp/script/d3.v5.js"></script>
        <script type="text/javascript" src="../../static/ai4fitapp/script/functions.js"></script>
        <script src="https://unpkg.com/d3-simple-slider"></script>
        <title>Informazioni allenamenti</title>
    </head>

    <body>
        <div class="container-fluid bg-white p-3" id="mycontainer">
            <h1>Andamento e informazioni allenamenti</h1>

            <div class="row mt-4">
                <div class="col-8 w-100">
                    <div class="form-group">
                        <form method="POST" action="{% url 'ai4fitapp:askInfo' %}" id="qForm">
                            {% csrf_token %}
                            <input type="text" class="form-control" id="tokenfield" name="question" placeholder="Scrivi qualcosa...">
                        </form>
                    </div>
                </div>

                <div class="col-4">
                    <div class="dropdown">
                      <a class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dataset
                      </a>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                        <a class="dropdown-item" type="button">Workout</a>
                        <a class="dropdown-item" type="button">Dataset 2</a>
                        <a class="dropdown-item" type="button">Dataset 3</a>
                      </div>
                    </div>
                </div>
            </div>

            <script>
                var results = {{ results | safe }}
                var mode = {{ mode | safe }}
                var entities = {{ entities | safe }}
            </script>

            {% if results|length != 0 %}
            <div class="row ml-3"><div class="col-sm">
                <span>
                    Risultati trovati: <span id="numres">{{ results|length }}</span>
                </span>
            </div></div>
            {% endif %}

            <div class="row my-2"></div>

            <div class="row mx-3">
                {% if results is not None %}
                    <div class="col-md-auto">

                        {% if mode != 3 %}
                        <div class="row mb-3 ml-2">
                            {% if mode == 2 %}
                                <div class="dropdown ml-4">
                                    <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenu1"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Decrescente
                                    </button>
                                    <div class="dropdown-menu" id="ordinamento" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" href="#">Crescente</a>
                                        <a class="dropdown-item" href="#">Decrescente</a>
                                    </div>
                                </div>

                                <div class="dropdown ml-1">
                                    <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenu3"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Orizzontale
                                    </button>
                                    <div class="dropdown-menu" id="orientamento" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" href="#">Verticale</a>
                                        <a class="dropdown-item" href="#">Orizzontale</a>
                                    </div>
                                </div>
                            {% endif %}
                            <div class="col span12 mt-2 text-right">{{ txt }} ordinati per </div>
                            <div class="dropdown">
                                <a class="btn dropdown-toggle" type="button" id="dropdownMenu4" data-toggle="dropdown"
                                   aria-haspopup="true" aria-expanded="false">
                                    {% if 'get_vote' in entities %}
                                        voto
                                    {% elif 'get_calories' in entities %}
                                        calorie
                                    {% else %}
                                        velocità media
                                    {% endif %}
                                </a>
                                <div class="dropdown-menu" id="criterio" aria-labelledby="dropdownMenu4">
                                    <a class="dropdown-item" href="#">calorie</a>
                                    <a class="dropdown-item" href="#">velocità media</a>
                                    <a class="dropdown-item" href="#">voto</a>
                                </div>
                            </div>

                            <div class="col-sm"><h4 class="mt-2"><span class="badge badge-secondary float-right align-middle">Bar chart</span></h4></div>
                        </div>

                        <div id="barchart"></div>
                        <svg id="xAxis"></svg>

                        {% if mode == 2 %}
                            <div class="row mymarginleft">
                                <div class="col-6 col-md-1 mt-3">Voto</div>
                                <div class="col-sm">
                                    <div id="slider">
                                        <div id="slider-range"></div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}

                        <script type="text/javascript" src="../../static/ai4fitapp/script/barchart.js"></script>

                        {% elif mode == 3 %}
                            <div class="row">
                                <div class="col span12 mt-2">{{ txt }}</div>
                                <div class="col-4"><h4 class="mt-2"><span class="badge badge-secondary">Line chart</span></h4></div>
                            </div>
                            <div id="linechart"></div>

                            <script type="text/javascript" src="../../static/ai4fitapp/script/linechart.js"></script>
                        {% endif %}
                    </div>

                    <div class="col-md-auto">
                        {% if mode == 1 %}
                            <div class="row mb-3">
                                <div class="col-8 span12 text-center">Raggruppamento per età</div>
                                <div class="col-4"><h4><span class="badge badge-secondary float-right">Pie chart</span></h4></div>
                            </div>
                            <div id="piechart"></div>

                            <script>var percent = {{ percent | safe }}</script>
                            <script type="text/javascript" src="../../static/ai4fitapp/script/piechart.js"></script>
                        {% endif %}
                    </div>
                {% endif %}

                <!--<div class="col"><p><img src="../../static/ai4fitapp/img/arrow2.png" id="arrow" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample"></div>
                <div class="collapse" id="collapseExample">
                  <div class="card card-body">
                      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                  </div>
                </div>-->
            </div>
        </div>
    </body>
</html>