<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel='stylesheet' href='../../static/ai4fitapp/style/graphs.css'>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel='stylesheet' href='../../static/ai4fitapp/style/myStyle.css'>
    <link rel='stylesheet' href='../../static/ai4fitapp/style/infoSlider.css'>
    <link rel='stylesheet' href='../../static/ai4fitapp/style/bootstrap-tagsinput.css'>
    <link rel="stylesheet" href="../../static/ai4fitapp/style/bootstrap-datetimepicker.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/d3-simple-slider@1.5.1/dist/d3-simple-slider.min.js"></script>
    <script src="https://rawgit.com/icebob/fakerator/master/dist/fakerator.js"></script>
    <script src="https://rawgit.com/twitter/typeahead.js/master/dist/bloodhound.min.js"></script>

    <script type="text/javascript" src="../../static/ai4fitapp/script/d3.v5.js"></script>
    <script type="text/javascript" src="../../static/ai4fitapp/script/moment.js"></script>
    <script type="text/javascript" src="../../static/ai4fitapp/script/barchart.js"></script>
    <script type="text/javascript" src="../../static/ai4fitapp/script/piechart.js"></script>
    <script type="text/javascript" src="../../static/ai4fitapp/script/linechart.js"></script>
    <script type="text/javascript" src="../../static/ai4fitapp/script/scatterplot.js"></script>
    <script type="text/javascript" src="../../static/ai4fitapp/script/infoSlider.js"></script>
    <script type="text/javascript" src="../../static/ai4fitapp/script/draw.js"></script>
    <script type="text/javascript" src="../../static/ai4fitapp/script/bootstrap-tagsinput.js"></script>
    <script type="text/javascript" src="../../static/ai4fitapp/script/bootstrap-datetimepicker.js"></script>
    <script type="text/javascript" src="../../static/ai4fitapp/script/typeahead.js"></script>
    <script type="text/javascript" src="../../static/ai4fitapp/script/functions.js"></script>
    <title>Informazioni allenamenti</title>
</head>

<body>

<div class="container-fluid bg-white p-3 mt-2" id="mycontainer">
    <div class="row justify-content-center mt-2">
        <div class="col-md-10 ml-3">
            <div class="form-group noMargin">
                <div id="qForm">
                    <input class="form-control typeahead" id="inputQuestion" name="question"
                           placeholder="Scrivi qualcosa...">
                    <a href="#" id="clearBtn">X</a>
                </div>
            </div>
        </div>

        <div class="col-md mr-4">
            <div class="dropdown ml-1 float-right" id="dropDataset">
                <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenu6"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Allenamento atleti
                </button>
            </div>
        </div>
    </div>

    <div class="row ml-1 my-2">
        <div class="col">
            <span id="numres"></span>
        </div>
    </div>

    <div class="row mx-3 position-relative" id="graphRow">
        <div class="col-md mh-100" id="barLineCol">
            <div class="row h-100 hidden" id="rowBar">
                <div class="col-md mh-100 p-3 bordered" id="barchartDiv">
                    <div class="row mb-3" id="barchartMenu">
                        <div class="col-md">
                            <div class="row">
                                <div class="col-md-5 mr-3" id="colOrientamento">
                                    <div class="dropdown" id="dropOrientamento">
                                        <a class="btn btn-secondary btn-sm dropdown-toggle text-light" type="button"
                                           id="dropdownMenu3"
                                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Orizzontale
                                        </a>
                                        <div class="dropdown-menu" id="orientamento"
                                             aria-labelledby="dropdownMenuButton">
                                            <a class="dropdown-item" href="#">Verticale</a>
                                            <a class="dropdown-item" href="#">Orizzontale</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-5 hidden" id="colOrdinamento">
                                    <div class="dropdown" id="dropOrdinamento">
                                        <a class="btn btn-secondary btn-sm text-light dropdown-toggle" type="button"
                                           id="dropdownMenu1"
                                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Decrescente
                                        </a>
                                        <div class="dropdown-menu" id="ordinamento"
                                             aria-labelledby="dropdownMenuButton">
                                            <a class="dropdown-item" href="#">Crescente</a>
                                            <a class="dropdown-item" href="#">Decrescente</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-7 span12 text-right my-auto noPadding" id="barchartText"></div>
                                <div class="col-md hidden noPadding" id="colCriterio">
                                    <div class="dropdown" id="dropCriterio">
                                        <a class="btn btn-sm dropdown-toggle" type="button" id="dropdownMenu4"
                                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
                                        <div class="dropdown-menu" id="criterio" aria-labelledby="dropdownMenu4">
                                            <a class="dropdown-item" href="#" id="c1">calorie</a>
                                            <a class="dropdown-item" href="#" id="c2">velocità</a>
                                            <a class="dropdown-item" href="#" id="c3">voto</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md">
                            <h4>
                                <span class="badge badge-secondary float-right align-middle">
                                    <div class="row">
                                        <div class="col-md noPaddingR pr-1">
                                            <img src="../../static/ai4fitapp/img/barGraph.png" class="imgGraph">
                                        </div>
                                        <div class="col-md noPaddingL">Bar chart</div>
                                    </div>
                                </span>
                            </h4>
                        </div>
                    </div>

                    <div id="barchart"></div>
                    <div id="asseX"></div>

                    <div id="barchartV"></div>

                    <div class="row justify-content-md-center hidden" id="sliderVoto">
                        <div class="col-md-1 mt-3">Voto</div>
                        <div class="col-md-4">
                            <div id="slider">
                                <div id="slider-range"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row h-100 hidden" id="rowLine">
                <div class="col-md mh-100 p-3 mb-2 bordered" id="linechartDiv">
                    <div class="row mb-3" id="linechartMenu">
                        <div class="col-md-6 noPaddingR span12 text-right ml-5 my-auto">Andamento login</div>
                        <div class="col-md">
                            <h4>
                                <span class="badge badge-secondary float-right align-middle">
                                    <div class="row">
                                        <div class="col-md noPaddingR pr-1">
                                            <img src="../../static/ai4fitapp/img/lineGraph.png" class="imgGraph">
                                        </div>
                                        <div class="col-md noPaddingL">Line chart</div>
                                    </div>
                                </span>
                            </h4>
                        </div>
                    </div>

                    <div class="row my-4 spaceLine"></div>

                    <div id="linechart"></div>

                    <div class="row my-4 spaceLine"></div>

                    <div class="row my-4 hidden w-50" id="chooseDate">
                        <div class='col-md-5'>
                            <div class="form-group">
                                <div class="input-group date" id="datetimepicker7" data-target-input="nearest">
                                    <input type="text" class="form-control datetimepicker-input" id="d1"
                                           data-target="#datetimepicker7" placeholder="Tra il..."/>
                                    <div class="input-group-append" data-target="#datetimepicker7"
                                         data-toggle="datetimepicker">
                                        <div class="input-group-text"><img src="../../static/ai4fitapp/img/calendar.png"
                                                                           id="calImg">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class='col-md-5'>
                            <div class="form-group">
                                <div class="input-group date" id="datetimepicker8" data-target-input="nearest">
                                    <input type="text" class="form-control datetimepicker-input" id="d2"
                                           data-target="#datetimepicker8" placeholder="E il..."/>
                                    <div class="input-group-append" data-target="#datetimepicker8"
                                         data-toggle="datetimepicker">
                                        <div class="input-group-text"><img src="../../static/ai4fitapp/img/calendar.png"
                                                                           id="calImg">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <input class="btn btn-primary mx-n3" id="btnDate" type="submit" value="Filtra">
                    </div>
                </div>
            </div>
            <div class="row h-100 hidden" id="rowScatter">
                <div class="col-md p-3 bordered mh-100" id="scatterDiv">
                    <div class="row mb-3" id="scatterMenu">
                        <div class="col-md-8 span12 text-left">Distribuzione atleti (distinzione per sesso)</div>
                        <div class="col-md-4">
                            <h4>
                        <span class="badge badge-secondary float-right">
                            <div class="row">
                                <div class="col-md noPaddingR pr-1">
                                    <img src="../../static/ai4fitapp/img/scatGraph.png" class="imgGraph">
                                </div>
                                <div class="col-md noPaddingL">Scatterplot</div>
                            </div>
                        </span>
                            </h4>
                        </div>
                    </div>
                    <div id="scatter" class="mt-5"></div>
                    <div id="legendScat"></div>
                </div>
            </div>
        </div>

        <div class="col-md-5 mh-100 hidden bordered p-3 ml-2" id="piechartDiv">
            <div class="row mb-3" id="piechartMenu">
                <div class="col-md-8 span12 text-left">Raggruppamento</div>
                <div class="col-md-4">
                    <h4>
                        <span class="badge badge-secondary float-right">
                            <div class="row">
                                <div class="col-md noPaddingR pr-1">
                                    <img src="../../static/ai4fitapp/img/pieGraph.png" class="imgGraph">
                                </div>
                                <div class="col-md noPaddingL">Pie chart</div>
                            </div>
                        </span>
                    </h4>
                </div>
            </div>

            <div id="piechart"></div>
        </div>
    </div>

    <div id="info" style="right:-342px;">

        <div id="sidebar" class="highlight shadow text-center container" onclick="open_panel()">
            <i class="fa fa-chevron-left"></i>
        </div>

        <div id="header">
            <h4>Informazioni dataset</h4>

            <div class="mt-5">
                <ul class="list-group">
                    <li class="list-group-item" id="persone">Atleti: </li>
                    <li class="list-group-item" id="eta">Età: </li>
                    <li class="list-group-item" id="calorie">Calorie: </li>
                    <li class="list-group-item" id="velocita">Velocità: </li>
                    <li class="list-group-item" id="bpm">Bpm: </li>
                    <li class="list-group-item" id="voto">Voto: </li>
                </ul>
            </div>
        </div>
    </div>
</div>

</body>
</html>